body,
html {
    height: 100%;
}

.main {
    background-color: $main_background-color;
    width: 100%;
}

.about-chigy__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.about-chigy__content {
    padding-right: 0.8rem;

}

.about-chigy__title {
    font-size: $title-second_size;
    font-weight: $title-second_weight;
    line-height: $title-big_line-height;
    color: $main_color;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.about-chigy__subtitle {
    font-size: $text-font-size;
    font-weight: bold;
    color: $main_color;
}

.about-chigy__text {
    font-weight: $text_font-weight;
    font-size: $text-font-size;
    line-height: $text-line_height;
    color: $main_color;
}

.about-chigy__image {
    border-radius: 1rem;
    margin-top: 4.2rem;
    margin-bottom: 7rem;
    object-fit: contain;

}

.about-chigy__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13rem;
    border-radius: 3rem;
    height: 3.3rem;
    color: $minor_color;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-chigy__button_buy {
    width: 7em;
    padding: 0rem 0.3rem 0rem;
    background: rgba(231, 76, 60, 0.9);
    font-weight: $text_font-weight;
    font-size: 1.5rem;
    margin-top: 2rem;

}

.about-chigy__button:hover {
    text-decoration: none;
    color: $minor_color;
}

.about-chigy__button_buy:hover {
    background: rgba(208, 108, 97, 0.9);
}

.about-chigy__image {
    float: right;
    padding-right: 7em;
}

@media screen and (max-width: 575px) {
    .about-chigy__button_buy {
        margin: 0;
    }

    .header {
        height: max-content;
        padding: 0.5rem 0.3rem 0.5rem;
    }

    .header__logo_img {
        width: 7rem;
    }

    .header__button_help {
        width: 6rem;
        margin-top: 1rem;
    }

    .navbar-nav {
        margin-left: 0rem;
    }

    .header__button_help {
        margin: 0;
    }

    .about-chigy__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-chigy__content {
        width: 100%;
        margin-right: 2rem;

    }



    .footer {
        flex-direction: column;
        height: 6rem;
    }

    .footer__title {
        margin-bottom: 0.3rem;
    }

    .footer__socials {
        justify-content: space-between;
        width: 13rem;
    }

    .footer__icons {
        width: 15%;
    }

}